.vs/
Source/.vs/

_bak/
_appdata_/
_appdata_cs_/
_appdata_soc_/
_Build/
/Bin/
import/
rawdata/PUT/
rawdata/backup/
rawdata/levels/
rawdata/objects/
rawdata/particles/
rawdata/sounds/
rawdata/sources/
rawdata/textures/
rawdata/*.dti
rawdata_cs/
rawdata_soc/backup/
rawdata_soc/levels/
rawdata_soc/objects/
rawdata_soc/particles/
rawdata_soc/sounds/
rawdata_soc/textures/
logs/
temp/
utils/
gamedata/levels/
gamedata/meshes/
gamedata/sounds/
gamedata/spawns/
gamedata/textures/
gamedata_cs/
gamedata_soc/levels/
gamedata_soc/meshes/
gamedata_soc/sounds/
gamedata_soc/spawns/
gamedata_soc/textures/
*.aps
*.vcxproj.user
*.bat
*.cmd
*.lnk
*.ini
*.ltx
*.bak
*.log