.vs/
Source/.vs/

_bak/
_appdata_/
_appdata_cs_/
_appdata_soc_/
_Build/
/Bin/
import/
rawdata/
rawdata_soc/
rawdata_cs/
rawdata/backup/
rawdata/groups/
rawdata/levels/
rawdata/objects/
rawdata/particles/
rawdata/sounds/
rawdata/sources/
rawdata/textures/
rawdata/*.dti
logs/
temp/
gamedata_soc/
gamedata_cs/
gamedata/levels/
gamedata/meshes/
gamedata/sounds/
gamedata/spawns/
gamedata/textures/
/*.ini
*.aps
*.vcxproj.user
*.bat
*.ltx
*.cmd
*.lnk
*.ini
*.bak