.vs/
Source/.vs/
gamedata/shaders/r5/.vs/
Icons/

_bak/
_appdata_/
_appdata_cs_/
_appdata_soc_/
/Bin/
Intermediate/
/Lib/
import/
#rawdata/
rawdata_soc/
rawdata_cs/
rawdata/backup/
rawdata/groups/
rawdata/levels/
rawdata/objects/
rawdata/particles/
rawdata/sounds/
rawdata/sources/
rawdata/textures/
rawdata/*.dti
logs/
temp/
#gamedata
gamedata_soc/
gamedata_cs/
gamedata/*.*
gamedata/ai/
gamedata/anims/
gamedata/configs/
gamedata/levels/
gamedata/meshes/
gamedata/scripts/
gamedata/sounds/
gamedata/spawns/
gamedata/textures/
/*.ini
*.aps
*.vcxproj.user
*.bat
*.ltx
*.cmd
*.lnk
*.ini