// Microsoft Visual C++ generated resource script.
//
#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS
#include "winres.h"
#undef APSTUDIO_READONLY_SYMBOLS

LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT
#pragma code_page(1251)

// Icon
IDI_ICON_HYBRIDXRAY ICON "Icon_HybridXRay.ico"
IDI_ICON_COP        ICON "Icon_CoP.ico"
IDI_ICON_CS         ICON "Icon_CS.ico"
IDI_ICON_SHOC       ICON "Icon_ShoC.ico"

// Splash Bitmap
IDB_SPLASH_COP   BITMAP "Splash_CoP.bmp"
IDB_SPLASH_CS    BITMAP "Splash_CS.bmp"
IDB_SPLASH_SHOC  BITMAP "Splash_ShoC.bmp"

// Splash Window
IDD_STARTUP_COP DIALOGEX 0, 0, 333, 200
STYLE DS_ABSALIGN | DS_SETFONT | DS_SETFOREGROUND | DS_CENTER | WS_POPUP | WS_VISIBLE
FONT 8, "MS Sans Serif", 0, 0, 0x0
BEGIN
    CONTROL IDB_SPLASH_COP, IDC_STATIC, "Static", SS_BITMAP | SS_REALSIZEIMAGE, 0, 0, 333, 200
END

// Splash Window
IDD_STARTUP_CS DIALOGEX 0, 0, 333, 200
STYLE DS_ABSALIGN | DS_SETFONT | DS_SETFOREGROUND | DS_CENTER | WS_POPUP | WS_VISIBLE
FONT 8, "MS Sans Serif", 0, 0, 0x0
BEGIN
    CONTROL IDB_SPLASH_CS, IDC_STATIC, "Static", SS_BITMAP | SS_REALSIZEIMAGE, 0, 0, 333, 200
END

// Splash Window
IDD_STARTUP_SHOC DIALOGEX 0, 0, 333, 200
STYLE DS_ABSALIGN | DS_SETFONT | DS_SETFOREGROUND | DS_CENTER | WS_POPUP | WS_VISIBLE
FONT 8, "MS Sans Serif", 0, 0, 0x0
BEGIN
    CONTROL IDB_SPLASH_SHOC, IDC_STATIC, "Static", SS_BITMAP | SS_REALSIZEIMAGE, 0, 0, 333, 200
END
